/* top  banner section */
.albumBannerRegion {

}

.pageTitleLeft {
    font-size: 10em;
    margin-left: 1.1em;
}

/* text of albums here */
.albumBannerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.albumTitlesRight {
    grid-column-start: 2;
    grid-column-end: 2;
}

.albumTitle {
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-size: 4em;
    text-align: left;
    transition: all .3s ease-in-out;
    margin-top: .25em;
    margin-bottom: .25em;
}

.albumTitle:hover , .albumTitle:focus-visible {
    color: white;
    transition: .3s ease-in-out;
}

/* non visible button */
.hiddenBtn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-left: 0em;
    margin-right: 20em;
}